### Eclipse
.project
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.project
.settings/
.loadpath
.externalToolBuilders/
*.launch
### IDEA
.idea/**
*.ipr
*.iws
*.iml
**/overlays/

### Maven
target/
.DS_Store

### HyCube
hycube.log
hycube_dev.log
hycube_messages.log
